<h1 class="bienvenido">Bienvenido a su zona personal</h1>
<span id="entrada">Su Nombre Artístico es: </span><span>{alias}</span><br>
<a class="enlaces" href="index.php?op=viewCambiarNombre">Cambiar su nombre Artistico </a><br>
<a class="enlaces" href="../cuadro/index.php?op=viewSubir">Agregar un cuadro a su galería </a><br>
<a class="enlaces" href="../cuadro/index.php?op=eliminarCuadro">Borrar un cuadro de su galería</a><br>
<a class="enlaces" href="../artista/index.php?op=viewElegir">Elegir o cambiar el diseño de su galería</a><br>
<a class="enlaces" href="../cuadro/index.php?op=verGaleria">Visualiar su galería</a><br>
<a class="enlaces" href="index.php?op=cerrar">Cerrar Sesión</a><br>
